<div style="width: 376px; height: 338px; position: relative; overflow: hidden">
  <div style="width: 339px; height: 44px; left: 24px; top: 32px; position: absolute; background: white; overflow: hidden">
    <div style="width: 241px; left: 23px; top: 10px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: #191B23; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">Vấn đề thanh toán & hoàn tiền</div>
  </div>
  <div style="width: 339px; height: 44px; left: 24px; top: 76px; position: absolute; background: white; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); overflow: hidden">
    <div style="width: 241px; left: 23px; top: 10px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: #191B23; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">Lỗi đặt phòng & hủy đặt phòng</div>
  </div>
  <div style="width: 339px; height: 44px; left: 24px; top: 120px; position: absolute; background: white; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); overflow: hidden">
    <div style="width: 241px; left: 23px; top: 10px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: #191B23; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">Thay đổi thông tin chuyến đi</div>
    <div style="width: 241px; left: 23px; top: 10px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: #191B23; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">Thay đổi thông tin chuyến đi</div>
  </div>
  <div style="width: 339px; height: 44px; left: 24px; top: 164px; position: absolute; background: white; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); overflow: hidden">
    <div style="width: 277px; left: 23px; top: 10px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: #191B23; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">Phản ánh chất lượng cơ sở lưu</div>
  </div>
  <div style="width: 339px; height: 44px; left: 24px; top: 208px; position: absolute; background: white; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); overflow: hidden">
    <div style="width: 277px; left: 23px; top: 10px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: #191B23; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">Lỗi kỹ thuật</div>
  </div>
  <div style="width: 339px; height: 44px; left: 24px; top: 252px; position: absolute; background: white; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); overflow: hidden">
    <div style="width: 277px; left: 23px; top: 10px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: #191B23; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">Yêu cầu khác</div>
  </div>
</div>