<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Xác nhận đăng xuất</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/popup_xacnhandangxuat.css">
  <link rel="stylesheet" href="../css/shared.css">
  <script src="../js/auth.js"></script>
  <script src="../js/app.js"></script>
</head>
<body>
<div class="page-popup_xacnhandangxuat c-1">
  <div class="c-2">
    <div class="c-3">
      <div class="c-4">Xác nhận đăng xuất  </div>
    </div>
    <div class="c-5"></div>
  </div>
  <div class="c-6">
    <div class="c-7">
      <div class="c-8"></div>
    </div>
  </div>
  <div class="c-9">
    <div class="c-10">Bạn có chắc chắn muốn đăng xuất khỏi tài khoản ?</div>
  </div>
  <div class="c-11">
    <div class="c-12">
      <div class="c-13">Đăng xuất </div>
    </div>
    <div class="c-14">
      <div class="c-15">Hủy</div>
    </div>
  </div>
</div>
</body>
</html>