<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chi tiết phòng</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/popup_xemchitietphong.css">
  <link rel="stylesheet" href="../css/shared.css">
  <script src="../js/auth.js"></script>
  <script src="../js/app.js"></script>
</head>
<body>
<div class="page-popup_xemchitietphong c-1">
  <div class="c-2">
    <div class="c-3">
      <div class="c-4">
        <div class="c-5">Chi tiết phòng Deluxe Ocean View - Pullman Vũng Tàu</div>
      </div>
      <div class="c-6">
        <div class="c-7">
          <div class="c-8"></div>
        </div>
      </div>
    </div>
    <div class="c-9">
      <div class="c-10">
        <div class="c-11">
          <img class="c-12" src="../../Pictures/KS_code_DaNang.jpg" />
        </div>
        <div class="c-13">
          <img class="c-12" src="../../Pictures/CanHo_VT_House.jpg" />
        </div>
        <div class="c-14">
          <img class="c-12" src="../../Pictures/Hinh_khachsanpullman.jpg" />
        </div>
      </div>
      <div class="c-15">
        <div class="c-16">
          <div class="c-17">
            <div class="c-18">1 giường King size  •  40m²  •  Hướng thành phố  •  1 phòng tắm</div>
          </div>
          <div class="c-19">
            <div class="c-20">
              <div class="c-21">Mô tả phòng</div>
            </div>
            <div class="c-17">
              <div class="c-22">Phòng Superior mang đến không gian nghỉ dưỡng sang trọng và hiện đại với tầm nhìn bao quát toàn cảnh thành phố Vũng Tàu. Được thiết kế với gam màu trung tính nhã nhặn, phòng được trang bị đầy đủ các tiện nghi cao cấp nhất từ hệ thống giường ngủ chuẩn Pullman cho đến bàn làm việc chuyên dụng, đảm bảo sự thoải mái tuyệt đối cho cả khách du lịch và khách công tác.</div>
            </div>
          </div>
          <div class="c-23">
            <div class="c-17">
              <div class="c-21">Tiện nghi phòng</div>
            </div>
            <div class="c-10">
              <div class="c-24">
                <div class="c-4">
                  <div class="c-25"></div>
                </div>
                <div class="c-4">
                  <div class="c-26">Wi-Fi miễn phí</div>
                </div>
              </div>
              <div class="c-27">
                <div class="c-4">
                  <div class="c-28"></div>
                </div>
                <div class="c-4">
                  <div class="c-26">Máy lạnh</div>
                </div>
              </div>
              <div class="c-27">
                <div class="c-4">
                  <div class="c-29"></div>
                </div>
                <div class="c-30">
                  <div class="c-26">TV màn hình phẳng</div>
                </div>
              </div>
              <div class="c-24">
                <div class="c-4">
                  <div class="c-31">
                    <div class="c-32"></div>
                    <div class="c-33"></div>
                  </div>
                </div>
                <div class="c-4">
                  <div class="c-26">Tủ lạnh</div>
                </div>
              </div>
              <div class="c-27">
                <div class="c-4">
                  <div class="c-34"></div>
                </div>
                <div class="c-4">
                  <div class="c-26">Két sắt an toàn</div>
                </div>
              </div>
              <div class="c-27">
                <div class="c-4">
                  <div class="c-35"></div>
                </div>
                <div class="c-36">
                  <div class="c-26">Vòi sen </div>
                </div>
              </div>
            </div>
          </div>
          <div class="c-37">
            <div class="c-17">
              <div class="c-21">Chính sách phòng</div>
            </div>
            <div class="c-38">
              <div class="c-39">
                <div class="c-10">
                  <div class="c-26">Nhận phòng (Check-in)</div>
                </div>
                <div class="c-10">
                  <div class="c-40">Từ 14:00</div>
                </div>
              </div>
              <div class="c-39">
                <div class="c-10">
                  <div class="c-26">Trả phòng (Check-out)</div>
                </div>
                <div class="c-10">
                  <div class="c-40">Trước 12:00</div>
                </div>
              </div>
              <div class="c-41">
                <div class="c-17">
                  <div class="c-42">Chính sách hủy đặt phòng:</div>
                </div>
                <div class="c-17">
                  <div class="c-43">Hủy miễn phí trước 48h. Sau thời gian này sẽ tính phí 50%.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="c-44">
          <div class="c-45">
            <div class="c-46"></div>
            <div class="c-47">
              <div class="c-48">4.800.000đ</div>
              <div class="c-49">/ đêm</div>
            </div>
            <div class="c-50">
              <div class="c-51">
                <div class="c-10">
                  <div class="c-52">
                    <div class="c-17">
                      <div class="c-53">NHẬN PHÒNG</div>
                    </div>
                    <div class="c-54">
                      <div class="c-55">14/06/2026</div>
                    </div>
                  </div>
                  <div class="c-56">
                    <div class="c-57">
                      <div class="c-58">TRẢ PHÒNG</div>
                    </div>
                    <div class="c-59">
                      <div class="c-60">16/06/2026</div>
                    </div>
                    <div class="c-61">
                      <div class="c-62"></div>
                    </div>
                  </div>
                </div>
                <div class="c-63"></div>
              </div>
              <div class="c-64">
                <div class="c-17">
                  <div class="c-65">SỐ KHÁCH</div>
                </div>
                <div class="c-66">
                  <div class="c-67">
                    <div class="c-68">2 người lớn</div>
                  </div>
                  <div class="c-4">
                    <div class="c-69"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="c-70">
              <div class="c-71"></div>
              <div class="c-72">Đặt phòng ngay</div>
            </div>
            <div class="c-73">
              <div class="c-74">Giá đã bao gồm thuế & phí</div>
            </div>
            <div class="c-75">
              <div class="c-66">
                <div class="c-4">
                  <div class="c-49">Tạm tính (2 đêm)</div>
                </div>
                <div class="c-4">
                  <div class="c-40">9.600.000 đ</div>
                </div>
              </div>
              <div class="c-66">
                <div class="c-4">
                  <div class="c-49">Phí dịch vụ Rovva</div>
                </div>
                <div class="c-4">
                  <div class="c-76">Miễn phí</div>
                </div>
              </div>
              <div class="c-77">
                <div class="c-4">
                  <div class="c-78">Tổng cộng</div>
                </div>
                <div class="c-4">
                  <div class="c-79">8.500.000 đ</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="c-80">
      <div class="c-81">
        <div class="c-82"></div>
      </div>
    </div>
  </div>
</div>
</body>
</html>