<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thông tin cá nhân</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/popup_thongtincanhan.css">
  <link rel="stylesheet" href="../css/shared.css">
  <script src="../js/auth.js"></script>
  <script src="../js/app.js"></script>
</head>
<body>
<div class="page-popup_thongtincanhan c-1">
  <div class="c-2">
    <img class="c-3" src="../../Pictures/Hinh_avata.jpg" />
    <div class="c-4">Lại Gia Hân</div>
    <div class="c-5">
      <div class="c-6">
        <div class="c-7"></div>
      </div>
      <div class="c-8">
        <div class="c-9">THÀNH VIÊN VÀNG</div>
      </div>
    </div>
  </div>
  <div class="c-10">
    <div class="c-11">
      <div class="c-12">
        <div class="c-13"></div>
      </div>
      <div class="c-14">
        <div class="c-15">Tài khoản</div>
      </div>
    </div>
    <div class="c-16">
      <div class="c-12">
        <div class="c-17"></div>
      </div>
      <div class="c-18">
        <div class="c-15">Chuyến đi của tôi</div>
      </div>
    </div>
    <div class="c-19">
      <div class="c-12">
        <div class="c-20">
          <div class="c-21"></div>
        </div>
      </div>
      <div class="c-18">
        <div class="c-15">Ví xu</div>
      </div>
    </div>
    <div class="c-22">
      <div class="c-12">
        <div class="c-23"></div>
      </div>
      <div class="c-24">
        <div class="c-25">Hạng thành viên</div>
      </div>
    </div>
    <div class="c-26">
      <div class="c-12">
        <div class="c-27"></div>
      </div>
      <div class="c-28">
        <div class="c-15">Danh sách yêu thích</div>
      </div>
    </div>
    <div class="c-29">
      <div class="c-12">
        <div class="c-30"></div>
      </div>
      <div class="c-31">
        <div class="c-15">Đánh giá của tôi</div>
      </div>
    </div>
    <div class="c-32">
      <div class="c-12">
        <div class="c-33"></div>
      </div>
      <div class="c-34">
        <div class="c-35">Bảo mật và Tài Khoản</div>
      </div>
    </div>
    <div class="c-36">
      <div class="c-37">
        <div class="c-12">
          <div class="c-38"></div>
        </div>
        <div class="c-39">
          <div class="c-40">Đăng xuất</div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
