<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rovva - popup Xac Nhan Xoa Tai Khoan</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/popup_XacNhanXoaTaiKhoan.css">
  <link rel="stylesheet" href="../css/shared.css">
  <script src="../js/auth.js"></script>
  <script src="../js/app.js"></script>
</head>
<body>
<div class="page-popup_XacNhanXoaTaiKhoan c-1">
  <div class="c-2"></div>
  <div class="c-3">
    <div class="c-4">
      <div class="c-5"></div>
    </div>
  </div>
  <div class="c-6">Xác nhận xóa tài khoản</div>
  <div class="c-7">
    <div class="c-8"><span class="c-9">Hành động này </span><span class="c-10">không thể hoàn tác</span><span class="c-9">. Toàn bộ dữ liệu, lịch sử đặt phòng, điểm thưởng xu và ưu đãi của bạn sẽ bị xóa vĩnh viễn khỏi hệ thống Rovva.</span></div>
  </div>
  <div class="c-11">
    <div class="c-12">
      <div class="c-13">
        <div class="c-14"></div>
      </div>
    </div>
    <div class="c-15">
      <div class="c-16">Tôi hiểu rằng tài khoản của mình sẽ không thể khôi phục sau<br/>khi xóa.</div>
    </div>
  </div>
  <div class="c-17">
    <div class="c-18">
      <div class="c-19">Xóa tài khoản </div>
    </div>
    <div class="c-20">
      <div class="c-21">Hủy</div>
    </div>
  </div>
</div>
</body>
</html>
