<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rovva - Thanh Toan Khi Check In</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/ThanhToanKhiCheckIn.css">
  <link rel="stylesheet" href="../css/shared.css">
  <script src="../js/auth.js"></script>
  <script src="../js/app.js"></script>
</head>
<body>
<div class="page-ThanhToanKhiCheckIn c-1">
  <div class="c-2">
    <div class="c-3">
      <div class="c-4">Thanh toán tại cơ sở lưu trú</div>
    </div>
  </div>
  <div class="c-5">
    <div class="c-6">Chờ thanh toán</div>
  </div>
  <div class="c-7">
    <div class="c-8">
      <div class="c-9">THÔNG TIN KHÁCH HÀNG</div>
    </div>
    <div class="c-10">
      <div class="c-11">
        <div class="c-12">Tên khách hàng:</div>
        <div class="c-13">Lại Gia Hân</div>
      </div>
      <div class="c-14"></div>
    </div>
    <div class="c-15">
      <div class="c-11">
        <div class="c-12">Email:</div>
        <div class="c-16">Snaketoxic_12345@gmail.com</div>
      </div>
    </div>
    <div class="c-17">
      <div class="c-11">
        <div class="c-12">Số điện thoại:</div>
        <div class="c-16">0927456381</div>
      </div>
      <div class="c-14"></div>
    </div>
  </div>
  <div class="c-18">
    <div class="c-19">
      <div class="c-20">
        <div class="c-21">Cơ sở lưu trú:</div>
      </div>
      <div class="c-22">
        <div class="c-23">Pullman Vũng Tàu </div>
      </div>
    </div>
    <div class="c-19">
      <div class="c-20">
        <div class="c-21">Loại phòng:</div>
      </div>
      <div class="c-22">
        <div class="c-23">Deluxe Ocean View</div>
      </div>
    </div>
    <div class="c-19">
      <div class="c-24">
        <div class="c-21">Số khách:</div>
      </div>
      <div class="c-25">
        <div class="c-26">02 Người lớn</div>
      </div>
    </div>
    <div class="c-27">
      <div class="c-28"></div>
    </div>
    <div class="c-19">
      <div class="c-20">
        <div class="c-21">Nhận phòng:</div>
      </div>
      <div class="c-29">
        <div class="c-30">14 Tháng 6, 2026</div>
      </div>
    </div>
    <div class="c-19">
      <div class="c-31">
        <div class="c-21">Giờ nhận:</div>
      </div>
      <div class="c-32">
        <div class="c-33">14:00</div>
      </div>
    </div>
    <div class="c-19">
      <div class="c-20">
        <div class="c-21">Trả phòng:</div>
      </div>
      <div class="c-29">
        <div class="c-30">16 Tháng 6, 2026</div>
      </div>
    </div>
  </div>
  <div class="c-34">
    <div class="c-35"></div>
    <div class="c-36">In biên lai</div>
  </div>
  <div class="c-37">
    <div class="c-38">Đã bao gồm tất cả các loại phí</div>
    <div class="c-39">
      <div class="c-40">CHI TIẾT GIÁ</div>
      <div class="c-41">
        <div class="c-42"></div>
        <div class="c-43">
          <div class="c-3">
            <div class="c-44">Giá phòng (2 đêm):</div>
          </div>
          <div class="c-3">
            <div class="c-45"><span class="c-46">9.600.000</span><span class="c-47">đ</span></div>
          </div>
        </div>
        <div class="c-48">Đã bao gồm thuế & phí</div>
        <div class="c-49">
          <div class="c-50">
            <div class="c-44">Dịch vụ bổ sung:</div>
          </div>
          <div class="c-51">
            <div class="c-52"><span class="c-46">0</span><span class="c-47">đ</span></div>
          </div>
          <div class="c-53">
            <div class="c-54"></div>
          </div>
          <div class="c-55">
            <div class="c-56">Không lựa chọn thêm dịch vụ </div>
          </div>
        </div>
        <div class="c-57">
          <div class="c-58">
            <div class="c-45"><span class="c-59">Mã giảm giá</span><span class="c-60">:</span></div>
          </div>
          <div class="c-61">
            <div class="c-62"><span class="c-46">- 480.000</span><span class="c-47">đ</span></div>
          </div>
        </div>
      </div>
      <div class="c-63">
        <div class="c-3">
          <div class="c-44">Đổi xu (50 xu):</div>
        </div>
        <div class="c-3">
          <div class="c-45"><span class="c-46">- 50.000</span><span class="c-47">đ</span></div>
        </div>
      </div>
    </div>
    <div class="c-64">
      <div class="c-28"></div>
    </div>
    <div class="c-65">
      <div class="c-3">
        <div class="c-44">Tổng tiền: </div>
      </div>
      <div class="c-3">
        <div class="c-66"><span class="c-46">9.070.000</span><span class="c-47">đ</span></div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
