<div style="width: 512px; background: white; box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05); overflow: hidden; border-radius: 12px; outline: 1px #C3C6D6 solid; outline-offset: -1px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
  <div style="align-self: stretch; padding: 24px; border-bottom: 1px #C3C6D6 solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
    <div style="width: 33px; height: 33px; position: relative">
      <div style="width: 22px; height: 22px; left: 5.50px; top: 5.50px; position: absolute; background: var(--hightlight, #0058BE)"></div>
      <div style="width: 33px; height: 33px; left: 0px; top: 0px; position: absolute"></div>
    </div>
    <div style="align-self: stretch; flex-direction: column; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
      <div style="justify-content: center; display: flex; flex-direction: column; color: var(--black-blue, #0F294D); font-size: 20px; font-family: Inter; font-weight: 600; line-height: 26px; word-wrap: break-word">Lưu thành công</div>
      <div style="align-self: stretch; text-align: center; justify-content: center; display: flex; flex-direction: column; color: var(--Subtext, rgba(66, 71, 84, 0.70)); font-size: 20px; font-family: Inter; font-weight: 400; line-height: 30px; word-wrap: break-word">Các thay đổi của bạn đã được lưu.</div>
    </div>
    <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
      <div style="padding-left: 24px; padding-right: 24px; padding-top: 8px; padding-bottom: 8px; background: #003EAB; border-radius: 8px; flex-direction: column; justify-content: center; align-items: center; display: flex">
        <div style="text-align: center; justify-content: center; display: flex; flex-direction: column; color: white; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">Xác nhận</div>
      </div>
    </div>
  </div>
</div>