<div style="width: 512px; background: white; box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05); overflow: hidden; border-radius: 12px; outline: 1px #C3C6D6 solid; outline-offset: -1px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
  <div style="align-self: stretch; padding: 24px; border-bottom: 1px #C3C6D6 solid; justify-content: space-between; align-items: center; display: inline-flex">
    <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
      <div style="justify-content: center; display: flex; flex-direction: column; color: var(--black-blue, #0F294D); font-size: 20px; font-family: Inter; font-weight: 600; line-height: 26px; word-wrap: break-word">Chỉnh sửa quy tắc</div>
    </div>
    <div style="padding: 4px; border-radius: 9999px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
      <div style="width: 14px; height: 14px; background: #434654"></div>
    </div>
  </div>
  <div style="align-self: stretch; padding: 24px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex">
    <div style="align-self: stretch; padding-top: 6px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 7px; display: flex">
      <div style="justify-content: center; display: flex; flex-direction: column; color: #434654; font-size: 12px; font-family: Inter; font-weight: 500; line-height: 14.40px; word-wrap: break-word">Tên quy tắc</div>
      <div style="align-self: stretch; padding: 10px; background: #FCF9F8; overflow: hidden; border-radius: 8px; outline: 1px #C3C6D6 solid; outline-offset: -1px; justify-content: center; align-items: flex-start; display: inline-flex">
        <div style="flex: 1 1 0; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
          <div style="justify-content: center; display: flex; flex-direction: column; color: var(--Text-Color-basic, #424754); font-size: 14px; font-family: Inter; font-weight: 600; line-height: 16.80px; word-wrap: break-word">Cuối tuần</div>
        </div>
      </div>
    </div>
    <div style="align-self: stretch; padding-top: 6px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 3px; display: flex">
      <div style="justify-content: center; display: flex; flex-direction: column; color: #434654; font-size: 12px; font-family: Inter; font-weight: 500; line-height: 14.40px; word-wrap: break-word">Điều kiện</div>
      <div style="align-self: stretch; padding-top: 4px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
        <div style="align-self: stretch; padding: 10px; background: #F6F3F2; overflow: hidden; border-radius: 8px; outline: 1px #C3C6D6 solid; outline-offset: -1px; justify-content: center; align-items: flex-start; display: inline-flex">
          <div style="flex: 1 1 0; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
            <div style="justify-content: center; display: flex; flex-direction: column; color: var(--Text-Color-basic, #424754); font-size: 14px; font-family: Inter; font-weight: 400; line-height: 21px; word-wrap: break-word">Thứ 6, Thứ 7 & Chủ Nhật hàng tuần</div>
          </div>
        </div>
        <div style="width: 9.33px; height: 18.80px; left: 440.67px; top: 15.98px; position: absolute"></div>
      </div>
    </div>
    <div style="align-self: stretch; padding-top: 6px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 3px; display: flex">
      <div style="justify-content: center; display: flex; flex-direction: column; color: #434654; font-size: 12px; font-family: Inter; font-weight: 500; line-height: 14.40px; word-wrap: break-word">Điều chỉnh</div>
      <div style="align-self: stretch; padding-top: 4px; justify-content: space-between; align-items: flex-start; display: inline-flex">
        <div style="flex: 1 1 0; justify-content: space-between; align-items: center; display: flex">
          <div style="width: 16px; height: 16px; background: var(--hightlight, #0058BE); border-radius: 8px; border: 1px #C3C6D6 solid"></div>
          <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
            <div style="justify-content: center; display: flex; flex-direction: column; color: #1C1B1B; font-size: 14px; font-family: Inter; font-weight: 600; line-height: 21px; word-wrap: break-word">Tăng theo %</div>
          </div>
          <div style="width: 300px; padding-left: 10px; padding-right: 10px; background: #F6F3F2; overflow: hidden; border-radius: 8px; outline: 1px #C3C6D6 solid; outline-offset: -1px; justify-content: center; align-items: flex-start; display: flex">
            <div style="flex: 1 1 0; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
              <div style="justify-content: center; display: flex; flex-direction: column; color: var(--Text-Color-basic, #424754); font-size: 14px; font-family: Inter; font-weight: 400; line-height: 21px; word-wrap: break-word">20</div>
            </div>
          </div>
        </div>
      </div>
      <div style="align-self: stretch; padding-top: 4px; justify-content: space-between; align-items: flex-start; display: inline-flex">
        <div style="flex: 1 1 0; justify-content: space-between; align-items: center; display: flex">
          <div style="width: 16px; height: 16px; background: white; border-radius: 8px; border: 1px #C3C6D6 solid"></div>
          <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
            <div style="justify-content: center; display: flex; flex-direction: column; color: #1C1B1B; font-size: 14px; font-family: Inter; font-weight: 600; line-height: 21px; word-wrap: break-word">Giảm theo %</div>
          </div>
          <div style="width: 300px; padding-left: 10px; padding-right: 10px; background: #F6F3F2; overflow: hidden; border-radius: 8px; outline: 1px #C3C6D6 solid; outline-offset: -1px; justify-content: center; align-items: flex-start; display: flex">
            <div style="flex: 1 1 0; height: 21px"></div>
          </div>
        </div>
      </div>
      <div style="align-self: stretch; padding-top: 4px; justify-content: flex-end; align-items: center; gap: 8px; display: inline-flex">
        <div style="flex: 1 1 0; justify-content: space-between; align-items: center; display: flex">
          <div style="width: 16px; height: 16px; background: white; border-radius: 8px; border: 1px #C3C6D6 solid"></div>
          <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
            <div style="justify-content: center; display: flex; flex-direction: column; color: #1C1B1B; font-size: 14px; font-family: Inter; font-weight: 600; line-height: 21px; word-wrap: break-word">Tăng giá cố định</div>
          </div>
          <div style="width: 300px; padding-left: 10px; padding-right: 10px; background: #F6F3F2; overflow: hidden; border-radius: 8px; outline: 1px #C3C6D6 solid; outline-offset: -1px; justify-content: flex-end; align-items: flex-start; display: flex">
            <div style="flex: 1 1 0; height: 21px"></div>
          </div>
        </div>
      </div>
      <div style="align-self: stretch; padding-top: 4px; justify-content: space-between; align-items: flex-start; display: inline-flex">
        <div style="flex: 1 1 0; justify-content: space-between; align-items: center; display: flex">
          <div style="width: 16px; height: 16px; background: white; border-radius: 8px; border: 1px #C3C6D6 solid"></div>
          <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
            <div style="justify-content: center; display: flex; flex-direction: column; color: #1C1B1B; font-size: 14px; font-family: Inter; font-weight: 600; line-height: 21px; word-wrap: break-word">Giảm giá cố định</div>
          </div>
          <div style="width: 300px; padding-left: 10px; padding-right: 10px; background: #F6F3F2; overflow: hidden; border-radius: 8px; outline: 1px #C3C6D6 solid; outline-offset: -1px; justify-content: center; align-items: flex-start; display: flex">
            <div style="flex: 1 1 0; height: 21px"></div>
          </div>
        </div>
      </div>
    </div>
    <div style="align-self: stretch; padding-top: 6px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 3px; display: flex">
      <div style="align-self: stretch; height: 47px; padding-top: 12px; padding-bottom: 12px; padding-left: 11px; padding-right: 31.36px; border-radius: 8px; justify-content: flex-start; align-items: center; gap: 11px; display: inline-flex">
        <div style="width: 22px; height: 22px; background: #003EAB; overflow: hidden; border-radius: 4px; outline: 1px rgba(0, 0, 0, 0) solid; outline-offset: -1px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
          <div style="width: 20px; height: 20px; position: relative; overflow: hidden">
            <div style="width: 11.23px; height: 8.75px; left: 4.39px; top: 5.63px; position: absolute; background: white"></div>
          </div>
        </div>
        <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
          <div style="justify-content: center; display: flex; flex-direction: column; color: #1C1B1B; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 21px; word-wrap: break-word">Áp dụng ngay</div>
        </div>
      </div>
    </div>
  </div>
  <div style="align-self: stretch; padding-left: 24px; padding-right: 24px; padding-top: 12px; padding-bottom: 12px; background: #F6F3F2; justify-content: flex-end; align-items: flex-start; gap: 12.01px; display: inline-flex">
    <div style="padding-left: 24px; padding-right: 24px; padding-top: 8px; padding-bottom: 8px; border-radius: 8px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
      <div style="text-align: center; justify-content: center; display: flex; flex-direction: column; color: #434654; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">Hủy</div>
    </div>
    <div style="padding-left: 24px; padding-right: 24px; padding-top: 8px; padding-bottom: 8px; background: #003EAB; border-radius: 8px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
      <div style="text-align: center; justify-content: center; display: flex; flex-direction: column; color: white; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">Lưu thay đổi</div>
    </div>
    <div style="padding-left: 24px; padding-right: 24px; padding-top: 8px; padding-bottom: 8px; background: var(--error-red, #BA1A1A); border-radius: 8px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
      <div style="text-align: center; justify-content: center; display: flex; flex-direction: column; color: white; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">Xóa</div>
    </div>
  </div>
</div>