<div style="width: 380px; background: rgba(255, 255, 255, 0.95); box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.12); overflow: hidden; border-radius: 12px; outline: 1px var(--Subtext, rgba(66, 71, 84, 0.70)) solid; outline-offset: -1px; backdrop-filter: blur(4px); flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
  <div style="align-self: stretch; padding-left: 20px; padding-right: 20px; padding-top: 16px; padding-bottom: 16px; background: white; border-bottom: 1px var(--Subtext, rgba(66, 71, 84, 0.70)) solid; justify-content: space-between; align-items: center; display: inline-flex">
    <div style="justify-content: flex-start; align-items: center; gap: 8px; display: flex">
      <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <div style="justify-content: center; display: flex; flex-direction: column; color: var(--black, #191B23); font-size: 20px; font-family: Inter; font-weight: 600; line-height: 26px; word-wrap: break-word">Thông báo</div>
      </div>
      <div style="padding-left: 8px; padding-right: 8px; padding-top: 2px; padding-bottom: 2px; background: var(--hightlight, #0058BE); border-radius: 9999px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <div style="justify-content: center; display: flex; flex-direction: column; color: var(--Backgrounds-Primary, white); font-size: 11px; font-family: Inter; font-weight: 700; line-height: 16.50px; word-wrap: break-word">4 mới</div>
      </div>
    </div>
    <div style="width: 132.17px; height: 14.39px; position: relative">
      <div style="left: 0px; top: -1px; position: absolute; text-align: center; justify-content: center; display: flex; flex-direction: column; color: var(--hightlight, #0058BE); font-size: 12px; font-family: Inter; font-weight: 500; line-height: 14.40px; word-wrap: break-word">Đánh dấu tất cả đã đọc</div>
    </div>
  </div>
  <div style="align-self: stretch; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
    <div style="width: 378px; padding-left: 20px; padding-right: 20px; padding-top: 16px; padding-bottom: 16px; background: var(--my-bg-blue, rgba(216, 226, 255, 0.50)); border-bottom: 1px var(--Subtext, rgba(66, 71, 84, 0.70)) solid; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
      <div style="width: 40px; height: 40px; background: var(--my-highlight, rgba(0, 88, 190, 0.10)); border-radius: 9999px; justify-content: center; align-items: center; display: flex">
        <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
          <div style="width: 16px; height: 20px; background: var(--hightlight, #0058BE)"></div>
        </div>
      </div>
      <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 3px; display: inline-flex">
        <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
          <div style="justify-content: center; display: flex; flex-direction: column"><span style="color: var(--black, #191B23); font-size: 14px; font-family: Inter; font-weight: 600; line-height: 19.25px; word-wrap: break-word">Bạn có yêu cầu đặt phòng mới từ </span><span style="color: var(--hightlight, #0058BE); font-size: 14px; font-family: Inter; font-weight: 600; line-height: 19.25px; word-wrap: break-word">An<br/>Trần</span><span style="color: var(--black, #191B23); font-size: 14px; font-family: Inter; font-weight: 600; line-height: 19.25px; word-wrap: break-word"> tại </span><span style="color: var(--black, #191B23); font-size: 14px; font-family: Inter; font-style: italic; font-weight: 600; line-height: 19.25px; word-wrap: break-word">The Blue Horizon</span><span style="color: var(--black, #191B23); font-size: 14px; font-family: Inter; font-weight: 600; line-height: 19.25px; word-wrap: break-word">.</span></div>
        </div>
        <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
          <div style="justify-content: center; display: flex; flex-direction: column; color: var(--Text-Color-basic, #424754); font-size: 12px; font-family: Inter; font-weight: 500; line-height: 14.40px; word-wrap: break-word">5 phút trước</div>
        </div>
      </div>
      <div style="width: 8px; height: 16px; padding-top: 8px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <div style="width: 8px; height: 8px; background: var(--hightlight, #0058BE); border-radius: 9999px"></div>
      </div>
    </div>
    <div style="width: 378px; padding-left: 20px; padding-right: 20px; padding-top: 16px; padding-bottom: 16px; background: var(--my-bg-blue, rgba(216, 226, 255, 0.50)); border-bottom: 1px var(--Subtext, rgba(66, 71, 84, 0.70)) solid; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
      <div style="width: 40px; height: 40px; background: var(--bg-light-green, #DCFCE7); border-radius: 9999px; justify-content: center; align-items: center; display: flex">
        <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
          <div style="width: 22px; height: 16px; background: var(--my-green, #00714D)"></div>
        </div>
      </div>
      <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 3px; display: inline-flex">
        <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
          <div style="justify-content: center; display: flex; flex-direction: column"><span style="color: var(--black, #191B23); font-size: 14px; font-family: Inter; font-weight: 600; line-height: 19.25px; word-wrap: break-word">Thanh toán doanh thu tháng 10 trị giá<br/></span><span style="color: var(--my-green, #00714D); font-size: 14px; font-family: Inter; font-weight: 600; line-height: 19.25px; word-wrap: break-word">24.500.000đ</span><span style="color: var(--black, #191B23); font-size: 14px; font-family: Inter; font-weight: 600; line-height: 19.25px; word-wrap: break-word"> đã được chuyển.</span></div>
        </div>
        <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
          <div style="justify-content: center; display: flex; flex-direction: column; color: var(--Text-Color-basic, #424754); font-size: 12px; font-family: Inter; font-weight: 500; line-height: 14.40px; word-wrap: break-word">12 phút trước</div>
        </div>
      </div>
      <div style="width: 8px; height: 16px; padding-top: 8px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <div style="width: 8px; height: 8px; background: var(--hightlight, #0058BE); border-radius: 9999px"></div>
      </div>
    </div>
    <div style="width: 378px; padding-left: 20px; padding-right: 20px; padding-top: 16px; padding-bottom: 16px; background: white; border-bottom: 1px var(--Subtext, rgba(66, 71, 84, 0.70)) solid; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
      <div style="width: 40px; height: 40px; background: var(--my-highlight, rgba(0, 88, 190, 0.10)); border-radius: 9999px; justify-content: center; align-items: center; display: flex">
        <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
          <div style="width: 20px; height: 20px; background: var(--hightlight, #0058BE)"></div>
        </div>
      </div>
      <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 3px; display: inline-flex">
        <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
          <div style="justify-content: center; display: flex; flex-direction: column"><span style="color: var(--Text-Color-basic, #424754); font-size: 14px; font-family: Inter; font-weight: 400; line-height: 19.25px; word-wrap: break-word">Hồ sơ homestay </span><span style="color: var(--Text-Color-basic, #424754); font-size: 14px; font-family: Inter; font-weight: 400; line-height: 19.25px; word-wrap: break-word">"Lakeside Villa"</span><span style="color: var(--Text-Color-basic, #424754); font-size: 14px; font-family: Inter; font-weight: 400; line-height: 19.25px; word-wrap: break-word"> đã được<br/>duyệt và đăng tải.</span></div>
        </div>
        <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
          <div style="justify-content: center; display: flex; flex-direction: column; color: var(--Text-Color-basic, #424754); font-size: 12px; font-family: Inter; font-weight: 500; line-height: 14.40px; word-wrap: break-word">2 giờ trước</div>
        </div>
      </div>
    </div>
    <div style="width: 378px; padding-left: 20px; padding-right: 20px; padding-top: 16px; padding-bottom: 16px; background: var(--my-bg-blue, rgba(216, 226, 255, 0.50)); border-bottom: 1px var(--Subtext, rgba(66, 71, 84, 0.70)) solid; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
      <div style="width: 40px; height: 40px; background: var(--light-bg-red, #FEE2E2); border-radius: 9999px; justify-content: center; align-items: center; display: flex">
        <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
          <div style="width: 18px; height: 18px; background: var(--error-red, #BA1A1A)"></div>
        </div>
      </div>
      <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 3px; display: inline-flex">
        <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
          <div style="justify-content: center; display: flex; flex-direction: column"><span style="color: var(--black, #191B23); font-size: 14px; font-family: Inter; font-weight: 600; line-height: 19.25px; word-wrap: break-word">Tranh chấp phát sinh từ khách hàng<br/></span><span style="color: var(--black, #191B23); font-size: 14px; font-family: Inter; font-weight: 600; line-height: 19.25px; word-wrap: break-word">Lê Minh</span><span style="color: var(--black, #191B23); font-size: 14px; font-family: Inter; font-weight: 600; line-height: 19.25px; word-wrap: break-word"> về phí dịch vụ dọn dẹp.</span></div>
        </div>
        <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
          <div style="justify-content: center; display: flex; flex-direction: column; color: var(--Text-Color-basic, #424754); font-size: 12px; font-family: Inter; font-weight: 500; line-height: 14.40px; word-wrap: break-word">5 giờ trước</div>
        </div>
      </div>
      <div style="width: 8px; height: 16px; padding-top: 8px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <div style="width: 8px; height: 8px; background: var(--hightlight, #0058BE); border-radius: 9999px"></div>
      </div>
    </div>
    <div style="width: 378px; padding-left: 20px; padding-right: 20px; padding-top: 16px; padding-bottom: 16px; background: white; border-bottom: 1px var(--Subtext, rgba(66, 71, 84, 0.70)) solid; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
      <div style="width: 40px; height: 40px; background: var(--my-bg-yellow, #FEFCE8); border-radius: 9999px; justify-content: center; align-items: center; display: flex">
        <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
          <div style="width: 18px; height: 20px; background: var(--my-yellow, #EA580C)"></div>
        </div>
      </div>
      <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 3px; display: inline-flex">
        <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
          <div style="justify-content: center; display: flex; flex-direction: column"><span style="color: var(--Text-Color-basic, #424754); font-size: 14px; font-family: Inter; font-weight: 400; line-height: 19.25px; word-wrap: break-word">Nhắc nhở: Bạn có lịch đón khách lúc 14:00<br/>ngày mai tại </span><span style="color: var(--Text-Color-basic, #424754); font-size: 14px; font-family: Inter; font-style: italic; font-weight: 400; line-height: 19.25px; word-wrap: break-word">Ocean View Suite</span><span style="color: var(--Text-Color-basic, #424754); font-size: 14px; font-family: Inter; font-weight: 400; line-height: 19.25px; word-wrap: break-word">.</span></div>
        </div>
        <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
          <div style="justify-content: center; display: flex; flex-direction: column; color: var(--Text-Color-basic, #424754); font-size: 12px; font-family: Inter; font-weight: 500; line-height: 14.40px; word-wrap: break-word">10 giờ trước</div>
        </div>
      </div>
    </div>
    <div style="width: 378px; padding-left: 20px; padding-right: 20px; padding-top: 16px; padding-bottom: 16px; left: 0px; top: 558.59px; position: absolute; background: white; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
      <div style="width: 40px; height: 40px; background: var(--my-bg-blue, rgba(216, 226, 255, 0.50)); border-radius: 9999px; justify-content: center; align-items: center; display: flex">
        <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
          <div style="width: 20px; height: 20px; background: var(--Text-Color-basic, #424754)"></div>
        </div>
      </div>
      <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 3px; display: inline-flex">
        <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
          <div style="justify-content: center; display: flex; flex-direction: column; color: var(--Text-Color-basic, #424754); font-size: 14px; font-family: Inter; font-weight: 400; line-height: 19.25px; word-wrap: break-word">Yêu cầu cập nhật thông tin pháp lý<br/>homestay bị từ chối do thiếu ảnh CCCD.</div>
        </div>
        <div style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
          <div style="justify-content: center; display: flex; flex-direction: column; color: var(--Text-Color-basic, #424754); font-size: 12px; font-family: Inter; font-weight: 500; line-height: 14.40px; word-wrap: break-word">3 ngày trước</div>
        </div>
      </div>
    </div>
  </div>
  <div style="align-self: stretch; padding: 12px; background: white; border-top: 1px var(--Subtext, rgba(66, 71, 84, 0.70)) solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
    <div style="align-self: stretch; padding-top: 8px; padding-bottom: 8px; border-radius: 8px; justify-content: center; align-items: center; display: inline-flex">
      <div style="text-align: center; justify-content: center; display: flex; flex-direction: column; color: var(--hightlight, #0058BE); font-size: 14px; font-family: Inter; font-weight: 600; line-height: 16.80px; word-wrap: break-word">Xem tất cả thông báo</div>
    </div>
  </div>
</div>