/* Rovva Client */
* { margin: 0; padding: 0; box-sizing: border-box; }
body { font-family: 'Inter', system-ui, sans-serif; background: #fff; }
.page-popup_xemchitietphong { margin: 0 auto; }
img { max-width: 100%; display: block; }

.c-1 { width: 1276px; height: 1448px; position: relative; background: rgba(0, 88, 190, 0.60); border-radius: 30px; backdrop-filter: blur(2px); justify-content: center; align-items: center; display: inline-flex }

.c-2 { width: 1224px; height: 1393px; left: 28px; top: 24px; position: absolute; background: white; box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.20); overflow: hidden; border-radius: 30px }

.c-3 { width: 1224px; padding-left: 24px; padding-right: 24px; padding-top: 16px; padding-bottom: 16px; left: 0px; top: 0px; position: absolute; background: #F9F9FF; border-bottom: 1px #C2C6D6 solid; justify-content: flex-start; align-items: center; gap: 543px; display: inline-flex }

.c-4 { flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex }

.c-5 { justify-content: center; display: flex; flex-direction: column; color: #0F294D; font-size: 24px; font-family: Inter; font-weight: 600; line-height: 33.60px; word-wrap: break-word }

.c-6 { padding: 4px; border-radius: 9999px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex }

.c-7 { justify-content: center; align-items: flex-start; display: inline-flex }

.c-8 { width: 14px; height: 14px; background: #424754 }

.c-9 { width: 1196px; padding-top: 24px; padding-left: 24px; padding-right: 24px; left: 0px; top: 67px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 32px; display: inline-flex }

.c-10 { align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex }

.c-11 { width: 358px; height: 310px; flex-direction: column; justify-content: center; align-items: flex-start; display: inline-flex }

.c-12 { align-self: stretch; flex: 1 1 0; position: relative; border-radius: 8px }

.c-13 { align-self: stretch; height: 310px; flex-direction: column; justify-content: center; align-items: flex-start; display: inline-flex }

.c-14 { width: 365px; height: 310px; flex-direction: column; justify-content: center; align-items: flex-start; display: inline-flex }

.c-15 { align-self: stretch; height: 851px; justify-content: flex-start; align-items: flex-start; gap: 32px; display: inline-flex }

.c-16 { width: 735px; align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 32px; display: inline-flex }

.c-17 { align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex }

.c-18 { align-self: stretch; justify-content: center; display: flex; flex-direction: column; color: #424754; font-size: 16px; font-family: Inter; font-weight: 500; line-height: 24px; word-wrap: break-word }

.c-19 { align-self: stretch; padding: 20px; background: rgba(255, 255, 255, 0); box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.10); border-radius: 12px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8.01px; display: flex }

.c-20 { align-self: stretch; padding-bottom: 20px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex }

.c-21 { align-self: stretch; justify-content: center; display: flex; flex-direction: column; color: #0F294D; font-size: 24px; font-family: Inter; font-weight: 600; line-height: 33.60px; word-wrap: break-word }

.c-22 { align-self: stretch; height: 104px; justify-content: center; display: flex; flex-direction: column; color: #424754; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 26px; word-wrap: break-word }

.c-23 { align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: flex }

.c-24 { align-self: stretch; height: 48px; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex }

.c-25 { width: 24px; height: 17px; background: #0058BE }

.c-26 { justify-content: center; display: flex; flex-direction: column; color: #191B23; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word }

.c-27 { align-self: stretch; height: 48px; justify-content: flex-start; align-items: center; gap: 7.99px; display: inline-flex }

.c-28 { width: 20px; height: 20px; background: #0058BE }

.c-29 { width: 20px; height: 18px; background: #0058BE }

.c-30 { width: 159px; padding-right: 43.58px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex }

.c-31 { width: 24px; height: 24px; position: relative; overflow: hidden }

.c-32 { width: 0.84px; height: 0.67px; left: 12.08px; top: 23.13px; position: absolute }

.c-33 { width: 14px; height: 20px; left: 5px; top: 1.99px; position: absolute; background: #0058BE }

.c-34 { width: 16px; height: 21px; background: #0058BE }

.c-35 { width: 14px; height: 18px; background: #0058BE }

.c-36 { padding-right: 46.20px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex }

.c-37 { align-self: stretch; padding: 24px; background: #F2F3FD; border-radius: 12px; outline: 1px rgba(194, 198, 214, 0.30) solid; outline-offset: -1px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16.01px; display: flex }

.c-38 { align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex }

.c-39 { align-self: stretch; padding-bottom: 8px; border-bottom: 1px #C2C6D6 solid; justify-content: space-between; align-items: flex-start; display: inline-flex }

.c-40 { justify-content: center; display: flex; flex-direction: column; color: #191B23; font-size: 16px; font-family: Inter; font-weight: 700; line-height: 24px; word-wrap: break-word }

.c-41 { align-self: stretch; padding-top: 8px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex }

.c-42 { align-self: stretch; justify-content: center; display: flex; flex-direction: column; color: #191B23; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word }

.c-43 { align-self: stretch; justify-content: center; display: flex; flex-direction: column; color: #BA1A1A; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word }

.c-44 { width: 381px; align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex }

.c-45 { align-self: stretch; padding: 32px; position: relative; background: white; border-radius: 12px; outline: 2px rgba(0, 88, 190, 0.60) solid; outline-offset: -2px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 15px; display: flex }

.c-46 { width: 381.34px; height: 609.16px; left: 0px; top: 0px; position: absolute; background: rgba(255, 255, 255, 0); box-shadow: 0px 8px 10px -6px rgba(0, 0, 0, 0.10), 0px 20px 25px -5px rgba(0, 0, 0, 0.10); border-radius: 12px }

.c-47 { align-self: stretch; justify-content: flex-start; align-items: baseline; gap: 3.99px; display: inline-flex }

.c-48 { justify-content: center; display: flex; flex-direction: column; color: #0058BE; font-size: 30px; font-family: Inter; font-weight: 600; line-height: 39px; word-wrap: break-word }

.c-49 { justify-content: center; display: flex; flex-direction: column; color: #424754; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word }

.c-50 { align-self: stretch; padding-top: 9px; padding-bottom: 17px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex }

.c-51 { align-self: stretch; padding: 16px; position: relative; background: rgba(242, 243, 253, 0.20); border-radius: 8px; outline: 1px rgba(194, 198, 214, 0.30) solid; outline-offset: -1px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex }

.c-52 { width: 136.67px; flex-direction: column; justify-content: center; align-items: center; gap: 5px; display: inline-flex }

.c-53 { align-self: stretch; text-align: center; justify-content: center; display: flex; flex-direction: column; color: #0058BE; font-size: 12px; font-family: Inter; font-weight: 600; text-transform: uppercase; line-height: 14.40px; letter-spacing: 0.60px; word-wrap: break-word }

.c-54 { align-self: stretch; padding-bottom: 0.80px; flex-direction: column; justify-content: center; align-items: center; display: flex }

.c-55 { align-self: stretch; text-align: center; justify-content: center; display: flex; flex-direction: column; color: #191B23; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 16.80px; letter-spacing: 0.14px; word-wrap: break-word }

.c-56 { align-self: stretch; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 5px; display: inline-flex }

.c-57 { width: 132.67px; flex-direction: column; justify-content: center; align-items: center; gap: 5px; display: flex }

.c-58 { text-align: center; justify-content: center; display: flex; flex-direction: column; color: #0058BE; font-size: 12px; font-family: Inter; font-weight: 600; text-transform: uppercase; line-height: 14.40px; letter-spacing: 0.60px; word-wrap: break-word }

.c-59 { width: 132.67px; padding-bottom: 0.80px; flex-direction: column; justify-content: center; align-items: center; gap: 5px; display: flex }

.c-60 { text-align: center; justify-content: center; display: flex; flex-direction: column; color: #191B23; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 16.80px; letter-spacing: 0.14px; word-wrap: break-word }

.c-61 { width: 30px; height: 11.39px; left: -10.50px; top: 34px; position: absolute; transform: rotate(-90deg); transform-origin: top left; justify-content: center; align-items: center; display: inline-flex }

.c-62 { flex: 1 1 0; height: 30px; border-top: 1px #C2C6D6 solid }

.c-63 { width: 29.63px; height: 11px; left: 171.35px; top: 50.30px; position: absolute; transform: rotate(-90deg); transform-origin: top left; opacity: 0.70 }

.c-64 { align-self: stretch; padding-top: 15px; padding-bottom: 16px; padding-left: 16px; padding-right: 16px; background: rgba(242, 243, 253, 0.20); border-radius: 8px; outline: 1px rgba(194, 198, 214, 0.30) solid; outline-offset: -1px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex }

.c-65 { align-self: stretch; justify-content: center; display: flex; flex-direction: column; color: #0058BE; font-size: 12px; font-family: Inter; font-weight: 600; text-transform: uppercase; line-height: 14.40px; letter-spacing: 0.60px; word-wrap: break-word }

.c-66 { align-self: stretch; justify-content: space-between; align-items: center; display: inline-flex }

.c-67 { width: 137.48px; height: 16.80px; position: relative }

.c-68 { left: 0px; top: -1px; position: absolute; justify-content: center; display: flex; flex-direction: column; color: #191B23; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 16.80px; letter-spacing: 0.14px; word-wrap: break-word }

.c-69 { width: 12px; height: 7.40px; background: #0058BE }

.c-70 { align-self: stretch; padding-top: 16px; padding-bottom: 16px; position: relative; background: #0058BE; border-radius: 8px; justify-content: center; align-items: center; display: inline-flex }

.c-71 { width: 313.34px; height: 65.59px; left: 0px; top: 0px; position: absolute; background: rgba(255, 255, 255, 0); box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.10), 0px 10px 15px -3px rgba(0, 0, 0, 0.10); border-radius: 8px }

.c-72 { text-align: center; justify-content: center; display: flex; flex-direction: column; color: white; font-size: 24px; font-family: Inter; font-weight: 600; line-height: 33.60px; word-wrap: break-word }

.c-73 { align-self: stretch; padding-bottom: 17px; flex-direction: column; justify-content: flex-start; align-items: center; display: flex }

.c-74 { text-align: center; justify-content: center; display: flex; flex-direction: column; color: #424754; font-size: 12px; font-family: Inter; font-weight: 600; line-height: 14.40px; letter-spacing: 0.60px; word-wrap: break-word }

.c-75 { align-self: stretch; padding-top: 32px; border-top: 1px rgba(194, 198, 214, 0.20) solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex }

.c-76 { justify-content: center; display: flex; flex-direction: column; color: #006C49; font-size: 16px; font-family: Inter; font-weight: 700; line-height: 24px; word-wrap: break-word }

.c-77 { align-self: stretch; padding-top: 16px; border-top: 1px rgba(194, 198, 214, 0.20) solid; justify-content: space-between; align-items: center; display: inline-flex }

.c-78 { justify-content: center; display: flex; flex-direction: column; color: #191B23; font-size: 24px; font-family: Inter; font-weight: 600; line-height: 33.60px; word-wrap: break-word }

.c-79 { justify-content: center; display: flex; flex-direction: column; color: #0058BE; font-size: 24px; font-family: Inter; font-weight: 600; line-height: 33.60px; word-wrap: break-word }

.c-80 { width: 40px; height: 40px; left: 1138px; top: 226px; position: absolute; background: #ECEDF7; border-radius: 9999px; justify-content: center; align-items: center; display: inline-flex }

.c-81 { flex-direction: column; justify-content: flex-start; align-items: center; display: inline-flex }

.c-82 { width: 7.40px; height: 12px; background: #191B23 }
