<div style="width: 512px; background: white; box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05); overflow: hidden; border-radius: 12px; outline: 1px #C3C6D6 solid; outline-offset: -1px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
  <div style="align-self: stretch; padding-left: 24px; padding-right: 24px; padding-top: 16px; padding-bottom: 16px; border-bottom: 1px #C3C6D6 solid; justify-content: space-between; align-items: center; display: inline-flex">
    <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
      <div style="justify-content: center; display: flex; flex-direction: column; color: var(--black-blue, #0F294D); font-size: 20px; font-family: Inter; font-weight: 600; line-height: 26px; word-wrap: break-word">Đổi mật khẩu</div>
    </div>
    <div style="padding: 4px; border-radius: 9999px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
      <div style="width: 14px; height: 14px; background: #434654"></div>
    </div>
  </div>
  <div style="align-self: stretch; padding: 24px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex">
    <div style="align-self: stretch; padding-top: 6px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 7px; display: flex">
      <div style="justify-content: center; display: flex; flex-direction: column; color: #434654; font-size: 12px; font-family: Inter; font-weight: 500; line-height: 14.40px; word-wrap: break-word">Nhập mật khẩu hiện tại</div>
      <div style="align-self: stretch; padding: 10px; background: #FCF9F8; overflow: hidden; border-radius: 8px; outline: 1px #C3C6D6 solid; outline-offset: -1px; justify-content: center; align-items: flex-start; display: inline-flex">
        <div style="flex: 1 1 0; height: 24px"></div>
      </div>
    </div>
    <div style="align-self: stretch; padding-top: 6px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 3px; display: flex">
      <div style="justify-content: center; display: flex; flex-direction: column; color: #434654; font-size: 12px; font-family: Inter; font-weight: 500; line-height: 14.40px; word-wrap: break-word">Nhập mật khẩu mới</div>
      <div style="align-self: stretch; padding-top: 4px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
        <div style="align-self: stretch; padding: 10px; background: #F6F3F2; overflow: hidden; border-radius: 8px; outline: 1px #C3C6D6 solid; outline-offset: -1px; justify-content: center; align-items: flex-start; display: inline-flex">
          <div style="flex: 1 1 0; height: 24px"></div>
        </div>
        <div style="width: 9.33px; height: 20px; left: 440.67px; top: 17px; position: absolute"></div>
      </div>
    </div>
    <div style="align-self: stretch; padding-top: 6px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 3px; display: flex">
      <div style="justify-content: center; display: flex; flex-direction: column; color: #434654; font-size: 12px; font-family: Inter; font-weight: 500; line-height: 14.40px; word-wrap: break-word">Xác nhận mật khẩu mới</div>
      <div style="align-self: stretch; padding-top: 4px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
        <div style="align-self: stretch; padding: 10px; background: #F6F3F2; overflow: hidden; border-radius: 8px; outline: 1px #C3C6D6 solid; outline-offset: -1px; justify-content: center; align-items: flex-start; display: inline-flex">
          <div style="flex: 1 1 0; height: 21px"></div>
        </div>
        <div style="width: 9.33px; height: 18.80px; left: 440.67px; top: 15.98px; position: absolute"></div>
      </div>
    </div>
  </div>
  <div style="align-self: stretch; padding-left: 24px; padding-right: 24px; padding-top: 12px; padding-bottom: 12px; background: var(--Backgrounds-Primary, white); border-top: 1px var(--light-bg-gray, rgba(88, 96, 108, 0.20)) solid; justify-content: flex-end; align-items: flex-start; gap: 12.01px; display: inline-flex">
    <div style="padding-left: 24px; padding-right: 24px; padding-top: 8px; padding-bottom: 8px; border-radius: 8px; outline: 1px black solid; outline-offset: -1px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
      <div style="text-align: center; justify-content: center; display: flex; flex-direction: column; color: #434654; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">Hủy</div>
    </div>
    <div style="padding-left: 24px; padding-right: 24px; padding-top: 8px; padding-bottom: 8px; background: #003EAB; border-radius: 8px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
      <div style="text-align: center; justify-content: center; display: flex; flex-direction: column; color: white; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">Lưu thay đổi</div>
    </div>
  </div>
</div>