<div style="width: 512px; padding: 1px; background: white; box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05); overflow: hidden; border-radius: 12px; outline: 1px #C3C6D6 solid; outline-offset: -1px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
  <div style="align-self: stretch; padding-left: 24px; padding-right: 24px; padding-top: 16px; padding-bottom: 16px; border-bottom: 1px #C3C6D6 solid; justify-content: space-between; align-items: center; display: inline-flex">
    <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
      <div style="justify-content: center; display: flex; flex-direction: column; color: var(--black-blue, #0F294D); font-size: 20px; font-family: Inter; font-weight: 600; line-height: 26px; word-wrap: break-word">Chỉnh sửa hồ sơ</div>
    </div>
    <div style="padding: 4px; border-radius: 9999px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
      <div style="width: 14px; height: 14px; background: #434654"></div>
    </div>
  </div>
  <div style="align-self: stretch; height: 477px; padding: 24px; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex">
    <div style="align-self: stretch; padding-top: 6px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 7px; display: flex">
      <div style="justify-content: center; display: flex; flex-direction: column; color: #434654; font-size: 12px; font-family: Inter; font-weight: 500; line-height: 14.40px; word-wrap: break-word">Họ tên</div>
      <div style="align-self: stretch; padding: 10px; background: #FCF9F8; overflow: hidden; border-radius: 8px; outline: 1px #C3C6D6 solid; outline-offset: -1px; justify-content: center; align-items: flex-start; display: inline-flex">
        <div style="flex: 1 1 0; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
          <div style="align-self: stretch; justify-content: center; display: flex; flex-direction: column; color: #1C1B1B; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">Văn Quản Gia</div>
        </div>
      </div>
    </div>
    <div style="align-self: stretch; padding-top: 6px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 3px; display: flex">
      <div style="justify-content: center; display: flex; flex-direction: column; color: #434654; font-size: 12px; font-family: Inter; font-weight: 500; line-height: 14.40px; word-wrap: break-word">Email</div>
      <div style="align-self: stretch; padding-top: 4px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
        <div style="align-self: stretch; padding: 10px; background: #F6F3F2; overflow: hidden; border-radius: 8px; outline: 1px #C3C6D6 solid; outline-offset: -1px; justify-content: center; align-items: flex-start; display: inline-flex">
          <div style="flex: 1 1 0; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
            <div style="align-self: stretch; justify-content: center; display: flex; flex-direction: column; color: #434654; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 21px; word-wrap: break-word">minh@gmail.com</div>
          </div>
        </div>
        <div style="width: 9.33px; height: 18.80px; left: 438.67px; top: 15.98px; position: absolute"></div>
      </div>
    </div>
    <div style="align-self: stretch; padding-top: 6px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 3px; display: flex">
      <div style="justify-content: center; display: flex; flex-direction: column; color: #434654; font-size: 12px; font-family: Inter; font-weight: 500; line-height: 14.40px; word-wrap: break-word">Số điện thoại</div>
      <div style="align-self: stretch; padding-top: 4px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
        <div style="align-self: stretch; padding: 10px; background: #F6F3F2; overflow: hidden; border-radius: 8px; outline: 1px #C3C6D6 solid; outline-offset: -1px; justify-content: center; align-items: flex-start; display: inline-flex">
          <div style="flex: 1 1 0; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
            <div style="align-self: stretch; justify-content: center; display: flex; flex-direction: column; color: #434654; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">0901234567</div>
          </div>
        </div>
        <div style="width: 9.33px; height: 20px; left: 438.67px; top: 17px; position: absolute"></div>
      </div>
    </div>
    <div style="align-self: stretch; padding-top: 6px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 3px; display: flex">
      <div style="justify-content: center; display: flex; flex-direction: column; color: #434654; font-size: 12px; font-family: Inter; font-weight: 500; line-height: 14.40px; word-wrap: break-word">CCCD</div>
      <div style="align-self: stretch; padding-top: 4px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
        <div style="align-self: stretch; padding: 10px; background: #F6F3F2; overflow: hidden; border-radius: 8px; outline: 1px #C3C6D6 solid; outline-offset: -1px; justify-content: center; align-items: flex-start; display: inline-flex">
          <div style="flex: 1 1 0; overflow: hidden; justify-content: flex-start; align-items: flex-start; display: flex">
            <div style="flex: 1 1 0; justify-content: center; display: flex; flex-direction: column; color: #434654; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 21px; word-wrap: break-word">************123</div>
            <div style="width: 18px; height: 18px; position: relative">
              <div style="width: 11px; height: 15.82px; left: 3.50px; top: 1.18px; position: absolute; background: #464343"></div>
              <div style="width: 18px; height: 18px; left: 0px; top: 0px; position: absolute"></div>
            </div>
          </div>
        </div>
        <div style="justify-content: center; display: flex; flex-direction: column; color: var(--Subtext, rgba(66, 71, 84, 0.70)); font-size: 12px; font-family: Inter; font-weight: 500; line-height: 14.40px; word-wrap: break-word">Không thể thay đổi CCCD, liên hệ Admin để biết thêm chi tiết</div>
        <div style="width: 9.33px; height: 24.80px; left: 438.67px; top: 21.08px; position: absolute"></div>
      </div>
    </div>
    <div style="align-self: stretch; padding-top: 6px; padding-bottom: 6px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 7px; display: flex">
      <div style="justify-content: center; display: flex; flex-direction: column; color: #434654; font-size: 12px; font-family: Inter; font-weight: 500; line-height: 14.40px; word-wrap: break-word">Giới thiệu</div>
      <div style="align-self: stretch; padding: 10px; background: #FCF9F8; border-radius: 8px; outline: 1px #C3C6D6 solid; outline-offset: -1px; justify-content: center; align-items: flex-start; display: inline-flex">
        <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
          <div style="align-self: stretch; justify-content: center; display: flex; flex-direction: column; color: #434654; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 26px; word-wrap: break-word">Với hơn 5 năm kinh nghiệm trong lĩnh vực kinh doanh lưu trú và vận hành homestay tại các thành phố du lịch trọng điểm, tôi luôn đặt sự hài lòng của khách hàng lên hàng đầu. Các cơ sở lưu trú của tôi đều được chăm chút tỉ mỉ từ khâu thiết kế nội thất đến chất lượng phục vụ, nhằm mang đến cho du khách cảm giác ấm cúng như đang ở chính ngôi nhà của mình. Tôi rất mong được đón tiếp và chia sẻ những trải nghiệm tuyệt vời cùng bạn tại Rovva.</div>
        </div>
      </div>
    </div>
  </div>
  <div style="align-self: stretch; padding-left: 24px; padding-right: 24px; padding-top: 12px; padding-bottom: 12px; background: var(--Backgrounds-Primary, white); border-top: 1px var(--light-bg-gray, rgba(88, 96, 108, 0.20)) solid; justify-content: flex-end; align-items: center; gap: 12.01px; display: inline-flex">
    <div style="padding-left: 24px; padding-right: 24px; padding-top: 8px; padding-bottom: 8px; border-radius: 8px; outline: 1px black solid; outline-offset: -1px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
      <div style="text-align: center; justify-content: center; display: flex; flex-direction: column; color: #434654; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">Hủy</div>
    </div>
    <div style="padding-left: 24px; padding-right: 24px; padding-top: 8px; padding-bottom: 8px; background: #003EAB; border-radius: 8px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
      <div style="text-align: center; justify-content: center; display: flex; flex-direction: column; color: white; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word">Lưu thay đổi</div>
    </div>
  </div>
</div>